* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #141414;
  color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.flexN {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 90%;
  margin: auto;
}
button {
  background-color: #bc1823;
  height: 60px;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 500;
  padding: 0;
  margin: 10px;
  font-size: 14px;
}